body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5; /* Cool White background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.upload-form {
    background-color: #fff; /* White background */
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.upload-form h2 {
    color: #333333; /* Charcoal Gray text */
    margin-bottom: 20px;
}

.upload-form label {
    display: block;
    text-align: left;
    margin-top: 20px;
    color: #333333; /* Charcoal Gray text */
}

.upload-form input[type="file"],
.upload-form textarea,
.upload-form select {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D3D3D3; /* Light Gray border */
    font-size: 16px;
    background-color: #F5F5F5; /* Cool White background */
    color: #333333; /* Charcoal Gray text */
}

.upload-form button {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #1E90FF; /* Electric Blue button */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.upload-form button:hover {
    background-color: #1A78D1; /* Darker Electric Blue on hover */
    color: #fff; /* Ensure text color stays white */
}

@media screen and (max-width: 768px) {
    .upload-form {
        padding: 20px;
    }
}

/* Additional styles for Select2 */
.select2-container .select2-selection--single {
    height: 40px;
    padding: 6px 12px;
    border: 1px solid #D3D3D3; /* Light Gray border */
    border-radius: 5px;
    background-color: #F5F5F5; /* Cool White background */
    color: #333333; /* Charcoal Gray text */
    font-size: 16px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 26px; /* Adjust line height for better alignment */
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 36px; /* Adjust arrow height */
}