<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{../css/re.css}">
    <title>Request List</title>
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>

<body>
    <header class="main-header">
        <h1 class="header-title">Request List</h1>
        <a th:href="@{/logout}" class="logout-link">Logout</a>
    </header>

    <div class="content">
        <table class="request-table">
            <thead>
                <tr>
                    <th class="table-header">ID</th>
                    <th class="table-header">Name</th>
                    <th class="table-header">Description</th>
                    <th class="table-header">Request Date</th>
                    <th class="table-header">Selected Option</th>
                    <th class="table-header">File Name</th>
                    <th class="table-header">Add Comment</th>
                    <th class="table-header">Comment</th>
                    <th class="table-header">Download</th>
            
                </tr>
            </thead>
            <tbody>
                <!-- Loop through requests and display each one -->
                <tr th:each="request: ${requests}">
                    <td class="table-cell" th:text="${request.id}"></td>
                    <td class="table-cell" th:text="${request.users[0].fullname}"></td>
                    <td class="table-cell" th:text="${request.description}"></td>
                    <td class="table-cell" th:text="${#dates.format(request.requestDate, 'dd-MM-yyyy')}"></td>
                    <td class="table-cell">
                        <form method="post" action="/request/updateResponse">
                            <input type="hidden" name="requestId" th:value="${request.id}" />
                            <select name="response">
                                <option th:each="resp : ${T(com.omar.legal_app.entity.Response).values()}"
                                        th:value="${resp}" th:text="${#strings.capitalize(resp.toString().toLowerCase())}"
                                        th:selected="${resp == request.response}">
                                </option>
                            </select>
                            <button type="submit">Update Response</button>
                        </form>
                    </td>
                    <td class="table-cell" th:text="${request.folderName}"></td>
                    <td>
                        <form method="post" action="/request/addComment">
                            <input type="hidden" name="requestId" th:value="${request.id}" />
                            <input type="text" name="comment" placeholder="Enter comment">
                            <button type="submit">Add Comment</button>
                        </form>
                    </td>
                    <td class="table-cell">
                        <ul>
                            <li th:each="comment : ${request.comments}" th:text="${comment.comments}"></li>
                        </ul>
                    </td>
                    <td class="table-cell actions-cell">
                        <a class="link-download" th:href="@{/request/download(folderName=${request.folderName})}">Download</a>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>