<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/requestList.css}">
    <script type="text/javascript" th:src="@{/js/user.js}"></script>
    <title>Request List</title>
</head>
<body>
    <header class="main-header">
        <div class="header-content">
            <h1 class="header-title">Request List</h1>
        </div>
        <nav class="navbar">
            <div class="nav-content">
                <a href="/request/create" class="btn get-started-btn">NEW REQUEST</a>
                <a th:href="@{/logout}" class="logout-link">Logout</a>
            </div>
        </nav>
    </header>

    <div class="content">
        <table class="request-table">
            <thead>
                <tr>
                    <th class="table-header">ID</th>
                    <th class="table-header">Description</th>
                    <th class="table-header">Request Date</th>
                    <th class="table-header">Response Date</th>
                    <th class="table-header">Response</th>
                    <th class="table-header">Comments</th>
                    <th class="table-header">File Names</th>
                    <th class="table-header">Customer Details</th>
                    <th class="table-header">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="request : ${requests}">
                    <td class="table-cell" th:text="${request.id}"></td>
                    <td class="table-cell" th:text="${request.description}"></td>
                    <td class="table-cell" th:text="${#dates.format(request.requestDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td class="table-cell" th:text="${#dates.format(request.responseDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td class="table-cell" th:text="${request.response}"></td>
                    <td class="table-cell">
                        <ul>
                            <li th:each="comment : ${request.comments}" th:text="${comment.comments}"></li>
                        </ul>
                    </td>
                    <td class="table-cell">
                        <ul>
                            <li th:each="fileName : ${request.fileNames}" th:text="${fileName}"></li>
                        </ul>
                    </td>
                    <td class="table-cell">
                        <p th:if="${request.customer != null}" th:text="'Name: ' + ${request.customer.name}"></p>
                        <p th:if="${request.customer != null}" th:text="'Email: ' + ${request.customer.email}"></p>
                        <p th:if="${request.customer != null}" th:text="'company: ' + ${request.customer.company}"></p>
                        <p th:if="${request.customer == null}">No customer details available</p>
                    </td>
                    <td class="table-cell actions-cell">
                        <div th:if="${request.response != T(com.omar.legal_app.entity.Response).COMPLETED}">
                            <a class="action-link edit-link" th:href="@{/request/edit(id=${request.id})}">Edit</a>
                            <a class="action-link delete-link" th:href="@{/request/delete(id=${request.id})}" onclick="return confirm('Are you sure?')">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
